*{
    box-sizing: 0px;
    margin: 0px;
}
.user-form input{
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
}
.user-form input:focus{
    outline: none;
  border-color: #4f005f;
}
