*{margin: 0px;
box-sizing: border-box;}

.card{
    height: 280px;
    width: 200px;
    border: solid 1px black;
    margin-left: 500px;
    margin-top: 200px;
    box-shadow: 10px;
    border-radius: 8px;
}