*{
    margin:0px;
    border:0px;
    box-sizing: border-box;
}
.head{
    height: 150px;
    width: 100%;
    background-color: gray;
    font-size: 30px;
    padding: 100px;
}
.header
{
    margin-left: 360px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}