*{
    box-sizing: 0px;
    margin: 0px;
    border: 0px;
}
.list-form
{
    background-color:tan;
    height: fit-content;
    margin-left: 360px;
    margin-top: 50px;
    width: 500px;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
}
.list-form ul li{
    list-style: none;
    color: white;
}